<nav class="navbar navbar-expand-lg navbar-light bg-secondary">  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="books">Livres</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
                <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
                <a class="nav-link" routerLink="auth/signin">Se connecter</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
                <p>{{ mail }}</p>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
                <a class="nav-link" (click)="onSignOut()" style="cursor: pointer">Se deconnecter</a>
            </li>
        </ul>
    </div>
</nav>